*.env
*.log
/tmp/*
/siteadmin/generated_code
/tmp/government_reporting
/tmp/system_cache
tmp/nstmemberapiv1.txt
tmp/api-log.txt
tmp/nstmemberapiv1.txt
siteadmin/config/config.json
siteadmin/generated_code/__CG__nstapplicationsApplicationPart2.php
siteadmin/generated_code/__CG__nstapplicationsApplicationStatus.php
siteadmin/generated_code/__CG__nsteventsShiftOverride.php
siteadmin/generated_code/__CG__nstmemberNstFileTag.php
siteadmin/generated_code/__CG__nstmemberNstMember.php
siteadmin/generated_code/__CG__nstmemberNurse.php
siteadmin/generated_code/__CG__samembersaMemberEmail.php
siteadmin/generated_code/__CG__sasystemsaUserGroup.php
tmp/manual_payment_overtime.txt
