{
    "Access_Control_Allow_Origin_Default": "*",
    "PayTrace_password": "",
    "PayTrace_test_password": "demo123",
    "PayTrace_test_username": "demo123",
    "PayTrace_username": "",
    "_include": "test.json",
    "abandoned_cart_age_days": "3",
    "abandoned_cart_history_days": "30",
    "add_to_cart_ajax": "Ajax",
    "additional_lines_price": "5",
    "address_validation_key": "",
    "address_validation_password": "",
    "address_validation_username": "",
    "adv_search_autocomplete_enable": "",
    "adv_search_display_tab_order": "default",
    "af_wizard": "",
    "all_categories_in_side_navigation": false,
    "allow_cli_composer": false,
    "allow_doctrine_discriminator": true,
    "allow_filename_overrides": false,
    "allow_guest_checkout": true,
    "allow_manual_add_member": true,
    "allow_muliple_logins": true,
    "allow_soft_login": true,
    "allow_split_payments": false,
    "allowed_additional_files_types": "",
    "allowed_secondary_payment_processors": "",
    "api_authorization_header_name": "apikey",
    "api_authorization_header_name_client": "Authorization",
    "api_enabled_default_endpoints": true,
    "api_ncp_user_login_enabled": false,
    "api_paginated_index_results": false,
    "api_sa_user_login_enabled": false,
    "approved_status_name": "Approved",
    "brute_force_check_enabled": true,
    "brute_force_lockout_attempts": 15,
    "cacheApp": "",
    "cache_assets": false,
    "cache_assets_manually_sync": "",
    "cache_assets_module_request": false,
    "cache_assets_using_hard_link": false,
    "cache_driver": "File System",
    "cache_driver_host": "127.0.0.1",
    "calc_taxes_on_review": false,
    "category_per_page": "21",
    "category_view_load_more_enabled": true,
    "checkout_process": "Single Page",
    "checkr_api": "3aa14cb50891de8caeefdec8b6e93cea7aa90972",
    "checkr_base_url": "https:\/\/api.checkr.com\/",
    "cluster_alert_email": "zhiler@nursestat.com",
    "combine_resources": false,
    "combine_shipped_items": false,
    "console": "default",
    "console_default_command": "",
    "constant_contact_access_token": "",
    "constant_contact_api_app": "",
    "constant_contact_api_key": "",
    "constant_contact_api_secret": "",
    "constant_contact_api_url": "https:\/\/api.constantcontact.com\/v2",
    "constant_contact_list": "",
    "data_encrypting_secret": "",
    "db_driver": "pdo_mysql",
    "db_driver_secondary": "",
    "db_name": "nursedb",
    "db_name_secondary": "",
    "db_password": "********",
    "db_password_secondary": "",
    "db_path": "",
    "db_path_secondary": "",
    "db_port": "3306",
    "db_server": "127.0.0.1",
    "db_server_secondary": "",
    "db_username": "root",
    "db_username_secondary": "",
    "default_shipping_enabled": true,
    "default_theme_template": "master",
    "development_banner_position": "top",
    "disable_settings": false,
    "enablePaymentManagementDashboard": false,
    "enable_advanced_shipments": false,
    "enable_category_new_view": true,
    "enable_form_tampering_detection": true,
    "enable_gps": true,
    "enable_inventory_tracking": false,
    "enable_mail_catcher": false,
    "enable_minicart": true,
    "enable_news_nodes": false,
    "enable_paytrace": false,
    "enable_profiling": "",
    "enable_promo_codes": true,
    "enable_public_member_signup": true,
    "enable_quick_view": true,
    "enable_revision_tracking": "",
    "enable_rss_feeds": false,
    "enable_sa_analytics": "1",
    "enable_search_by_sku": false,
    "enable_search_by_upc": false,
    "enable_store": true,
    "enable_store_update_widget": true,
    "enable_submission_delete": true,
    "enable_top_level_category_tree_navigation": false,
    "enable_wishlist": true,
    "enforce_gps": false,
    "events_module_name": "Shifts",
    "events_module_name_singular": "Shift",
    "events_module_route_id": "shifts",
    "fcm_server_key": "",
    "fill_parent_pages_with_subpage_links": true,
    "fill_parent_pages_with_subpage_links_descriptions": true,
    "force_main_domain_redirect": false,
    "force_www_redirect": false,
    "generic_payments_enabled": false,
    "geo_ip_database_path": "..\/siteadmin\/modules\/sa\/system\/src\/other\/GeoLite2-City.mmdb",
    "google_maps_api_key": "",
    "hasBeenSetup": "1",
    "has_been_configured": "1",
    "hidden_sa_modules": "Members",
    "http2": false,
    "image_resizing_api_client_id": "sa",
    "image_resizing_api_client_key": "nMxex5ZCgcSON13CvQz\/5hgoFmXnB5ANRyhzHzw\/Eik=",
    "image_resizing_api_url": "http:\/\/images.siteadministrator.com",
    "import_rss_content": false,
    "include_category_search_results": false,
    "include_category_search_terms": true,
    "include_faqs_search_results": true,
    "include_manufacturer_search_results": true,
    "include_news_search_results": true,
    "include_pages_search_results": true,
    "include_product_search_results": true,
    "include_product_search_terms": true,
    "include_staff_search_results": true,
    "individual_sku_table_limit": "300",
    "line_1_price": "8",
    "local_allow_local_delivery": false,
    "local_delivery_charge": "",
    "local_display_as": "",
    "local_origin_country": "",
    "local_origin_state": "",
    "local_origin_zip": "",
    "log_doctrine_enable": true,
    "log_email": "",
    "log_enable": true,
    "log_level": "ERROR",
    "mail_catcher_address": "",
    "manage_orders_all_uppercase": false,
    "manage_orders_sku_column": "SKU",
    "member_confirmation_email": false,
    "member_device_verify": false,
    "member_groups": "member",
    "member_login": "\/member\/login",
    "member_module_name": "Member",
    "member_session_timeout": "",
    "member_session_timeout_enabled": false,
    "member_session_timeout_interval": "",
    "member_two_factor_require": true,
    "member_two_factor_use_phone": false,
    "middleware": [
        "ApplicationMiddleware"
    ],
    "minify_html": false,
    "move_css_to_end": false,
    "move_js_to_end": true,
    "multi_site_instance": false,
    "ncp_central_client_id": "sa-central",
    "ncp_central_client_key": "$2y$10$IsgfJ1PkRni0zSmq0ndfBesV0a0wg\/W3Xog2iw7jQldqAyvFMTpEq",
    "ncp_central_email_monitoring_to": "sa32test@gmail.com",
    "ncp_central_enabled": true,
    "ncp_central_host": "http:\/\/central.siteadministrator.com",
    "ncp_central_instance": "A",
    "ncp_central_monitoring_interval": 7200,
    "ncp_device_verify": false,
    "ncp_device_verify_method": "Google Authenticator",
    "ncp_login_two_factor": false,
    "ncp_login_two_factor_method": "Google Authenticator",
    "no_image_placeholder": "\/catalog\/img\/placeholder.png",
    "no_results_message": "",
    "number_of_lines": "2",
    "nurse_clockin_window": 1,
    "nurse_login": "\/nurse\/login",
    "nurse_module_name": "Nurse",
    "nurse_send_sms_up_to_days": 5,
    "nurse_states_filter_enabled": true,
    "open_status_name": "Open",
    "order_number_prefix": "",
    "order_number_start": "",
    "owner_group": "apache",
    "password_reset_ttl": "2700",
    "paymentsTestMode": true,
    "pending_status_name": "Pending",
    "permissions_owner_group": "apache",
    "php_path_executable": "\/usr\/bin\/php",
    "prioritize_handlers": "",
    "product_search_attribute_values": false,
    "promo_code_length": "8",
    "provider_time": false,
    "public_directory": "\/var\/www\/html\/NurseStat-Admin\/html",
    "quickbooks_authorization_code": "",
    "quickbooks_base_url": "Production",
    "quickbooks_client_id": "",
    "quickbooks_client_secret": "",
    "quickbooks_export_group": 4,
    "quickbooks_invoice_number": 6574,
    "quickbooks_realm_id": "4620816365179397250",
    "quickbooks_site_url": "http:\/\/dev.nursestat.test",
    "recaptcha_private": "6LcNCz0aAAAAAGh6b4hixoaWC12GaxGAhydTEnw7",
    "recaptcha_public": "6LcNCz0aAAAAAImB4VjHsKyf1Zb9duSAp4itvrsM",
    "related_products_default_category": false,
    "remote_assistance": true,
    "remove_category_filters_for_nav": false,
    "require_ssl": false,
    "retain_get_param": "",
    "sa3_client_api_client_id": "",
    "sa3_client_api_client_key": "",
    "sa3_client_api_url": "",
    "saTheme": "nstAdmin",
    "sa_central_client_id": "sa-central",
    "sa_central_client_key": "$2y$10$IsgfJ1PkRni0zSmq0ndfBesV0a0wg\/W3Xog2iw7jQldqAyvFMTpEq",
    "sa_central_email_monitoring_to": "sa32test@gmail.com",
    "sa_central_enabled": true,
    "sa_central_host": "http:\/\/central.siteadministrator.com",
    "sa_central_instance": "A",
    "sa_central_monitoring_interval": 5,
    "sa_device_verify": false,
    "sa_device_verify_method": "Google Authenticator",
    "sa_key": "SA-199686-52",
    "sa_login_two_factor": false,
    "sa_login_two_factor_method": "Google Authenticator",
    "sa_monitoring_enabled": "",
    "sa_session_timeout": "84000",
    "safe_mode": false,
    "secure_site_url": "http:\/\/dev.nursestat.test",
    "server_name": "",
    "session_domain": "dev.nursestat.test",
    "session_handler": "",
    "settings_no_sync": "",
    "sharding_domains": "sadev-a.sites.local,sadev-b.sites.local",
    "sharding_domains_enabled": "0",
    "show_country_in_checkout": true,
    "show_development_banners": false,
    "show_individual_skus_by_default": true,
    "show_out_of_stock_products": false,
    "show_related_items_at_bottom_only": false,
    "show_search_in_header": false,
    "show_style_number": true,
    "show_voided_line_items": false,
    "signup_form_use_recaptcha": false,
    "site_address": "",
    "site_address_2": "",
    "site_block": false,
    "site_block_password": "elink",
    "site_city": "",
    "site_domain": "dev.nursestat.test",
    "site_email": "zhiler@nursestat.com",
    "site_latitude": "",
    "site_logo": "13",
    "site_logo_alternative": "7",
    "site_longitude": "",
    "site_name": "Nurse Stat",
    "site_phone": "",
    "site_phone_2": "",
    "site_robot_indexable": true,
    "site_state": "",
    "site_url": "http:\/\/dev.nursestat.test",
    "site_zip": "",
    "siteadmin_header_bg": "#222222",
    "siteadmin_image_id": "",
    "siteadmin_login_bg": "",
    "siteadmin_login_image_id": "261",
    "sku_name": "SKU",
    "smtp_auth_type": "LOGIN",
    "smtp_bind_ip": "",
    "smtp_from": "noreply@nursestatky.com",
    "smtp_fromName": "NurseStat",
    "smtp_host": "smtp.gmail.com",
    "smtp_password": "tqnbylkjiwlbbqhz",
    "smtp_port": "587",
    "smtp_secure": "tls",
    "smtp_smtp_auth": true,
    "smtp_username": "zhiler@nursestat.com",
    "smtp_verify_ssl": false,
    "social_facebook_url": "",
    "social_google_url": "",
    "social_instagram_url": "",
    "social_linkedin_url": "",
    "social_tumbler_url": "",
    "social_twitter_url": "",
    "sprite_images": false,
    "sso_user_refresh_ttl": 600000,
    "staff_cms_per_page": 20,
    "staff_cms_sort_by": "",
    "store_only_show_installed": false,
    "store_repositories": [
        "https:\/\/pkg.siteadministrator.com"
    ],
    "store_themes": "",
    "style_number_name": "Style Number",
    "subscription_vendor": "Select a processor",
    "tempDir": "\/var\/www\/html\/NurseStat-Admin\/tmp",
    "test_api_enabled_default_endpoints": "1",
    "theme": "nst",
    "thread_cookie": "dev.nursestat.test",
    "thread_domain": "dev.nursestat.test",
    "timezone_default": "America\/New_York",
    "twilio_phonenumber": "16065540529",
    "twilio_sid": "",
    "twilio_token": "dca699b4eae62744bf21dbb23924123d",
    "uploadsDir": "\/var\/www\/html\/NurseStat-Admin\/uploads",
    "use_database_config": "",
    "use_second_level_cache": false,
    "validate_address_data_checkout": true,
    "validate_line_item_prices": true,
    "validate_order_on_submit": true,
    "verify_line_items": true,
    "version": "4",
    "wkhtmltopdf_cmd_args": "",
    "wkhtmltopdf_exports_inline": false,
    "wkhtmltopdf_path_executeable": ""
}