<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <meta charset="UTF-8">
        {% block stylesheets %}
            {{ vite_entry_link_tags('app') }}
        {% endblock %}
        {{ inertiaHead(page) }}
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
        <title>NurseStat LLC</title>
        <link rel="icon" href="/favicon.png" />
    </head>
    <body>
        {{ inertia(page) }}
        {% block javascripts %}
            {{ vite_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
