[v-cloak] {
    display: none;
}

.table-responsive div div.row:nth-child(odd) {

}

.table-responsive div div.row:nth-child(even) {
    background-color: #dfdfdf;
}

.timing-header {
    background-color: #b1b1b1;
    font-weight: bold;
}

.timing-instance {
    margin-bottom: 15px;
}

.timing-single {
    margin-bottom: 2px;

}

.timing-bar {
    position:absolute;
    background-color: #6ca8fd;
    height: 20px;
    display: inline-block;
    font-weight: bold;
    min-width: 1px;
}